#nome{
    text-align: center;
    color: orange;
}

.center{
    text-align: center;
}
#img{
    display: block;
    margin: auto;
}
.cinza:hover{
    background-color: gray;
    transition: 1.5s;
}
p{
    font-family: Verdana;
}
ol{
    list-style-type: upper-alpha;
}
div.azul{
    background-color: aqua;
}
.mydiv{
    border-style: dotted;
    border-color: black;
    border-width: 2px;
    background-color: lightgray;
    text-align: center;
} 