h1{
    text-align: center;
    color: orange;
}

.center{
    text-align: center;
}
img{
    display: block;
    margin: auto;
}
div.cinza:hover{
    background-color: gray;
    transition: 1.5;
}
p{
    font-family: Verdana;
}
  
ol {
    list-style-type: upper-alpha;
}
.azul{
    background-color: aqua;
}
